.v-input {
  width: 100%;
  input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: $accent1;
    border: 1px solid $lightgray;
    box-shadow: none;
    color: $darkgray;
    padding: 5px 10px;

  }

  label {
    color: $darkgray;
    font-weight: 600;
    padding: 10px 0;
    display: block;
  }

  .option-label {
    padding: 5px 10px;

    input {
      display: inline;
      width: auto;
    }
  }
}

$errorColor: #ff444b;
.has-error {
  border: 1px solid #ff444b;
}

.input-error {
  color: $errorColor;
  font-size: 13px;
}
